.App {
}

.shop-nav {
  background-color: #f7ecde;
  display: flex;
  width: 100%;
  padding: 30px;
  font-weight: 600;
  font-size: 20px;
}

.shop-list {
  width: 80%;
  margin: 0 auto;
}
button {
  border-style: none;
  background-color: black;
  color: white;
}
