@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://css.gg/search.css');
input {
  border: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.root {
  margin: 0;
}
#carousel_1 {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
}
.carouselImage {
  width: 45%;
}

.carouselText {
  position: relative;
  margin-top: 3rem;
  font-size: 3.0rem;
  font-weight: 600;
  margin-left: 2.5rem;
  height: 80%;
  line-height: 5rem;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
  height: 12vh;
  background-color: #00092C;  
}


.logoImage {
  display: inline;
  border-radius: 4px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-right: 4px;
  width: 27px;
  height: 26px;
}
.logoTitle {
  color: #fff;
  margin-left: 0.8rem;
  display: inline;
  font-family: "Roboto Serif", sans-serif;
  font-size: 30px;
}
#Cosme {
  display: inline;
  padding-bottom: 1rem;
  font-family: "Roboto Serif", sans-serif;
  font-size: 30px;
  color: #00092C;
}
.headerNavMenu {
  display: flex;
}
.linkNone {
  text-decoration: none;
}
.linkNone:hover {
  color: #fff;
}

.navClick {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin-left: 1rem
}

.carFirst,
.carSecond,
.carThird {
  width: 100%;
  height: 450px;
}

.cartIcon {
  font-size: 18px;
  color: #fff;
}
.listWrap {
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.listImg {
  margin-top: 30px;
  width: 300px;
  height: 400px;
}
.loginForm {
  padding: 20vh 0;
  align-items: center;
  box-sizing: border-box;
  max-width: 333px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logoContainer {
  margin-bottom: 1rem;
}
.noneLabel {
  display: none;
}

.emailInput {
  border-radius: 3px;
  border: 0.9px solid rgba(133, 110, 139, 0.473);
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px 14px;
}
.passInput {
  border-radius: 3px;
  border: 0.9px solid rgba(133, 110, 139, 0.473);
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px 14px;
}
.loginButton {
  background-color: #8946a6;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
  padding: 10px 15px 14px;
}

.backButton {
  cursor: pointer;
  font-size: 50px;
}

.ad {
  background-color: antiquewhite;
}
.detailListImg {
  float: left;
  margin-top: 30px;
  width: 18rem;
  height: 25rem;
}
.findProBox {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  margin-bottom: 20rem;
}

.findProTitle {
  font-size: 2rem;
  display: block;
}

.tabsContainer {
  display: block;
}

#signUpForm {
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 40vh;
}
.emailContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.signUpEmail {
  width: 80%;
  font-size: 15px;
  box-sizing: border-box;
  line-height: 40px;
  border-radius: 4px;
  border: 2px solid #dbdbdb;
  background-color: #fff;
  color: #424242;
}
.emailSpan {
  margin: 10px 0 0 0;
}
.emailDomain {
  font-size: 15px;
  box-sizing: border-box;
  line-height: 40px;
  border-radius: 4px;
  border: 2px solid #dbdbdb;
  background-color: #fff;
  color: #424242;
}
.signUpLabel {
  font-size: 15px;
  font-weight: 800;
  margin: 10px 0;
}
.signUpInput {
  -webkit-appearance: none;
  margin: 0px;
  font-size: 15px;
  box-sizing: border-box;
  padding: 0 13px;
  line-height: 40px;
  border-radius: 4px;
  border: 2px solid #dbdbdb;
  background-color: #fff;
  color: #424242;
}
#signUpBtn {
  margin-top: 30px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #8946a6;
  color: #fff;
  height: 3rem;
}
.productFormContainer {
  margin: 0 auto;
}
.productForm {
  margin-top: 3rem;
  text-align: center;
}
.productLabel {
  font-size: 15px;
  font-weight: 800;
  margin: 10px 0;
}
.productInput {
  -webkit-appearance: none;
  margin: 0px;
  font-size: 15px;
  box-sizing: border-box;
  padding: 0 13px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #424242;
}

.proInputSection {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadIconCon {
  line-height: 250px;
  width: 250px;
  height: 250px;
  border: 3px dashed #dbdbdb;
}
.uploadIconCon:hover {
  background-color: #9fd4a48f;
  border-radius: 6px;
}
.uploadIcon {
  font-size: 25px;
}
.proInputImage {
  width: 250px;
  height: 250px;
}
.dropzoneDesc {
  font-size: 0.9rem;
  margin-top: 1rem;
}
.productSubmit {
  padding: 1rem 3rem;
  border: none;
  background-color: #F0ECE3;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.bestSeller {
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 45px;
}
.proList {
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}

.proListContainer {
  margin-left: 20px;
}
.proListImage {
  width: 20rem;
  height: 20rem;
}
.productDesc {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.inputRadio {
  display: block;
  height: 500px;
  width: 500px;
}
.radioContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.radioButton {
  margin-left: 10px;

}

.readMoreBtn {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 80%;
  text-align: end;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 700;
  color: #797979;
  text-decoration: underline;
}
.searchForm {
  margin: 0 auto;
  
  margin-top: 10px;
  text-align: center;
  width: 20rem;
}
.searchInput {
  border-bottom: 1px solid #797979;
  width: 20rem;
  height: 50px;
}
.searchButton {
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  left: 92%;
  bottom: 30px;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px
}

.searchButton::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px
}
.footerContainer {
  background-color: #ededed;
  height: 15%;
  width: 100%;
}

.footerText {
  margin-left: 10px;
  font-size: 12px;
  text-align: left;
  line-height: 30px;
}

.footerIcons {
  font-size: 13px;
}
.iconLink {
  text-decoration: none;
  color: #00092C;
}
.iconLink:hover {
  color: #00092C;
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  #carousel_1{
    background-color: #fff;
    width: 100%;
  }
  .carouselImage {
    grid-template-columns: 1/span 2;
  }
  .carouselText1 {
    display: none;
  }
  }
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  #carousel_1{
    background-color: #fff;
    width: 100%;
  }
  .carouselImage {
    width: 100%;
  }
  
  .carouselText {
    display: none;
  }
  .readMoreBtn {
  text-align: center;
  
  }
  }


